*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--header-bg: #aad5a6;
	--aside-bg: #55ab4d;
	--text-white: hsl(0, 0%, 100%);
	--effet-white: hsla(0, 0%, 100%, 0.8);
}

.grid_container {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	height: 100vh;

	/* Css grid*/
	display: grid;
	grid-template-areas:
		"header header"
		"main aside"
		"footer footer";
	grid-template-columns: 1fr 300px;
	grid-template-rows: 160px 1fr 60px;
}

/* Grid areas */
header {
	grid-area: header;
	background-color: var(--header-bg);
}

main {
	grid-area: main;
	padding: 20px;
}

aside {
	grid-area: aside;
	color: var(--text-white);
	background-color: var(--aside-bg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.aside input {
	padding: 10px;
}

.aside_cont_flex {
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.aside .fa-search {
	font-size: 30px;
	margin-left: 12px;
	vertical-align: middle;
}

aside h2 {
	font-size: 2rem;
}

.aside_content h3 {
	padding-bottom: 12px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

footer {
	grid-area: footer;
}

/* La section header */
.header_flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Logo, se connecter, s'inscrire, slogan */
.header_content {
	height: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.logo img {
	margin-left: 20px;
	border-radius: 50%;
	background-color: var(--text-white);
}

/* se connecter */
.connecter a {
	background-color: var(--aside-bg);
	padding: 14px 20px;
	border-radius: 30px;
	font-size: 1.6rem;
	color: black;
	border: 2px solid black;
	letter-spacing: 2px;
	text-decoration: none;
	transition: 0.5s ease-in;
}

.connecter a:hover {
	color: var(--text-white);
}

/* s'inscrire */
.inscrire a {
	padding: 10px;
	font-size: 1.6rem;
	color: var(--text-white);
	letter-spacing: 2px;
	text-decoration: none;
	transition: 1s ease-in-out;
}

.inscrire a:hover {
	padding: 14px 10px;
	border-radius: 30px;
	box-shadow: 0 0 12px rgb(0, 0, 0);
	transition: 0.6s ease-in;
}

/* Le slogan */
.slogan-flex {
	display: flex;
	flex-direction: column;
}

/* h1 slogan */
.slogan {
	font-size: 40px;
	margin-top: 12px;
	text-align: center;
}

/* La section main avec les article */
.article_1 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.article_1 img {
	width: 700px;
	height: auto;
}

.article_all h2 {
	font-size: 34px;
	margin-top: 20px;
}

.date {
	align-self: start;
}

.article_1 p {
	margin: 20px 0;
	width: auto;
}

/*SVG : soleil, arrossage*/
.conseil {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.conseil1 {
	display: flex;
	align-items: center;
	padding-right: 100px;
}

.conseil2 {
	display: flex;
	align-items: center;
}

.conseil .soleil {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.conseil .arrosage {
	width: 50px;
	height: 50px;
	margin-top: 5px;
}

.lire_suite {
	margin: 0 0 24px;
	background-color: var(--aside-bg);
	padding: 5px 40px 4px;
	border-radius: 30px;
	text-decoration: none;
	color: black;
	letter-spacing: 1px;
}

.lire_suite:hover {
	color: var(--text-white);
	box-shadow: 0 0 4px black;
}

.like {
	color: var(--aside-bg);
	font-size: 34px;
	margin-bottom: 34px;
	padding-left: 30px;
}
.like:hover {
	text-shadow: 0.1px 0.1px 0.5px black;
	scale: 1.5;
	transition: 0.5s ease-in;
}

.nom_utilisateur {
	align-self: flex-end;
	padding-right: 100px;
	color: rgba(0, 0, 0, 0.6);
	font-weight: 600;
}

.article_1 h3 {
	font-size: 26px;
}

/* La section footer */
.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.social {
	width: 15%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.fab {
	font-size: 30px;
	color: black;
}

.fab:hover {
	color: var(--header-bg);
	transform: scale(1.5);
	transition: 0.5s ease-in;
}

.copy {
	width: 50%;
	text-align: center;
}

/* Media Queries max-width 576px*/
@media screen and (max-width: 576px) {
	.grid_container {
		/* Css grid*/
		display: grid;
		grid-template-areas:
			"header"
			"main"
			"aside"
			"footer";
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr 440px 100px;
		justify-content: center;
	}

	/* La section header */
	.header_flex {
		display: flex;
		flex-direction: column;
		padding: 10px 0;
	}
	.header_content {
		display: flex;
		flex-direction: column;
	}

	.header_link a {
		width: 90vw;
		margin: 0px;
		color: var(--text-white);
		text-decoration: none;
	}

	/* se connecter */
	.connecter a {
		background-color: var(--aside-bg);
		padding: 8px 8px;
		border-radius: 30px;
		font-size: 1.4rem;
		color: black;
		border: 2px solid black;
		letter-spacing: 0px;
	}
	.connecter a:hover {
		color: var(--text-white);
		border: 2px solid black;
		letter-spacing: 2px;
	}

	/* s'inscrire */
	.inscrire a {
		margin: 0;
		font-size: 1.4rem;
		letter-spacing: 1px;
	}

	.inscrire a:hover {
		padding: 10px 20px;
		margin: 0;
		font-size: 1.4rem;
		letter-spacing: 3px;
	}

	.logo img {
		margin: 10px 0 12px;
		border-radius: 50%;
	}
	/* Le slogan */
	.slogan-flex {
		display: flex;
	}

	/* h1 slogan */
	.slogan {
		width: 90vw;
		font-size: 34px;
		margin: 0;
		line-height: 1.2;
	}

	.main p {
		width: 90vw;
		text-align: justify;
		line-height: 1.4;
	}

	.article_all img {
		width: 90vw;
		height: auto;
		margin: 0 10px;
	}

	.date {
		place-self: center;
	}

	/*SVG : soleil, arrossage*/
	.conseil {
		text-align: center;
	}

	.conseil1 {
		display: flex;
		align-items: center;
	}

	.conseil2 {
		display: flex;
		align-items: center;
	}

	.conseil .soleil {
		width: 30px;
		height: 30px;
		margin-right: 5px;
		margin-bottom: 5px;
	}

	.conseil .arrosage {
		width: 50px;
		height: 50px;
		margin-top: 5px;
		margin-right: 5px;
	}

	.commentaires {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 25px;
	}

	span.nom_utilisateur p {
		text-align: right;
		margin: 0;
	}

	.like {
		color: var(--aside-bg);
		font-size: 30px;
		margin: 14px 0 26px;
	}

	.footer {
		display: flex;
		flex-direction: column;
	}

	.social a {
		padding: 10px 20px 0;
	}

	.recherche {
		margin: 40px 0;
	}
}

/* Media Queries min-width 768px*/

/* ________________________________________________________________________ */

/* css snippet from style_new O2.02.2023 */

/* latest 03.02.2023 */
/* Media Queries max-width 576px*/
@media screen and (max-width: 576px) {
	.grid_container {
		/* Css grid*/
		display: grid;
		grid-template-areas:
			"header"
			"main"
			"aside"
			"footer";
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr 440px 100px;
		justify-content: center;
	}

	/* La section header */
	.header_flex {
		display: flex;
		flex-direction: column;
		padding: 10px 0;
	}

	.header_content {
		display: flex;
		flex-direction: column;
	}

	.header_link a {
		width: 90vw;
		margin: 0px;
		color: var(--text-white);
		text-decoration: none;
	}

	/* se connecter */
	.connecter a {
		background-color: var(--aside-bg);
		padding: 8px 8px;
		border-radius: 30px;
		font-size: 1.4rem;
		color: black;
		border: 2px solid black;
		letter-spacing: 0px;
	}

	.connecter a:hover {
		color: var(--text-white);
		border: 2px solid black;
		letter-spacing: 2px;
	}

	/* s'inscrire */
	.inscrire a {
		margin: 0;
		font-size: 1.4rem;
		letter-spacing: 1px;
	}

	.inscrire a:hover {
		padding: 10px 20px;
		margin: 0;
		font-size: 1.4rem;
		letter-spacing: 3px;
	}

	.logo img {
		margin: 10px 0 12px;
		border-radius: 50%;
	}

	/* Le slogan */
	.slogan-flex {
		display: flex;
	}

	/* h1 slogan */
	.slogan {
		width: 90vw;
		font-size: 34px;
		margin: 0;
		line-height: 1.2;
	}

	.main p {
		width: 90%;
		text-align: justify;
		line-height: 1.4;
	}

	.article-container {
		padding: 0px;
	}

	.article_all img {
		width: 90vw;
		height: auto;
		margin: 0 10px;
	}

	/* La date des articles */
	.date {
		width: 100%;
		padding: 0 12px;
		color: rgba(0, 0, 0, 0.5);
	}

	/*SVG : soleil, arrossage*/
	.conseil {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.conseil .soleil {
		width: 30px;
		height: 30px;
		margin-right: 5px;
		margin-bottom: 5px;
	}

	.conseil .arrosage {
		width: 50px;
		height: 50px;
		margin-top: 5px;
		margin-right: 5px;
	}

	.commentaire {
		display: flex;
		flex-direction: column;
		width: 70%;
		margin: 0 0 20 0px;
	}
	.nom_utilisateur {
		margin: 0;
		padding: 0 10% 0 0;
	}

	.commentaire {
		text-align: center;
		margin-bottom: 30px;
	}

	.like {
		color: var(--aside-bg);
		font-size: 30px;
		margin: 14px 0;
		padding-left: 0px;
		text-align: center;
	}

	.footer {
		display: flex;
		flex-direction: column;
	}

	.social a {
		padding: 10px 20px 0;
	}

	.recherche {
		margin: 40px 0;
	}
}
